/elm-stuff
/include/
/.vscode/
/bower_components/
/node_modules/
/.pulp-cache/
/output/
/output-es/
/generated-docs/
/.psc-package/
/.psc*
/.purs*
/.psa*
/.spago
/main.js
/index.js
/high.txt
/hist.txt
